body {
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    font-family: Ubuntu;
    
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

body {
    background-color: #111;
}

kup1 {
    float: left;
}

kup1 a {
    display: block;
    color: white;
    text-align: left;
    padding: 30px 16px;
    text-decoration: none;
    font-family: Ubuntu;
}

kup {
    float: left;
}

kup a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-family: Ubuntu;
}

c {
    bottom: 0%;
}